/* Second bgColor #F5F4FA  */

:root {
  /* Main colors */
  --mainBlue: #2196f3;
  --mainGray: #757575;
  --mainBlack: #212121;
  --mainWhite: #ffffff;

  /* Bachgraund colors */
  --secondBg: #f5f4fa;
  --darkBg: #2f303a;

  /* Border color */
  --mainBorder: #eeeeee;
  --secondBorder: #ececec;

  /* Font family */
  --mainFont: "Roboto";
  --secondFont: "Raleway";
}

/* Site styles */
html {
  /* box-sizing: border-box; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--mainGray);
  background-color: var(--mainWhite);
  font-family: var(--mainFont), "Arial", sans-serif;
}

/* Container style*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /* outline: 1px solid #ddd; */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: var(--mainGray);
}

.section {
  padding: 94px 0;
}

.section-no-padding {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--mainBlack);
  margin: 0 0 50px 0;
}

/* Link hover decoration */
.header-nav .link:hover,
.header-nav .link:focus,
.header-auth .link:hover,
.header-auth .link:focus,
.footer-info .link:hover,
.footer-info .link:focus,
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--mainBlue);
}

/* Header section  */
.header {
  border-bottom: 1px solid var(--secondBorder);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header-logo {
  text-decoration: none;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--mainBlue);
}

.header-logo-decoration {
  color: #000000;
}

.nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-left: 93px;
}

.header-nav-item {
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav .link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--mainBlack);
}

.header-nav .current {
  color: var(--mainBlue);
}

.header-auth {
  display: flex;
  justify-content: end;
}

.header-auth-item {
  /* padding: 32px 0; */
}

.header-auth-item:not(:last-child) {
  margin-right: 50px;
}

.header-auth .link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--mainGray);
}

/* Main section home page */

/* Hero section */
.hero {
  background-color: var(--darkBg);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin: 0 0 30px 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: var(--mainFont);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
}

.btn-primary {
  color: var(--mainWhite);
  background-color: var(--mainBlue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}

/* Features section */
.features-title {
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--mainBlack);
  margin: 0 0 10px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

. .features-text {
  line-height: 1.7;
  margin: 0;
}

/* What are we doing section */
.do-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.do-img {
  display: block;
}

/* Team section */
.team {
  background-color: var(--secondBg);
}

.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-item {
  text-align: center;
  padding-bottom: 30px;
  background: var(--mainWhite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  display: block;
  margin: 0 auto 30px auto;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--mainBlack);
  margin: 0 0 10px 0;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}

/* Footer section */
.footer {
  background-color: var(--darkBg);
  padding: 60px 0;
}

.footer-logo {
  display: inline-block;
  text-decoration: none;
  font-family: var(--secondFont);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--mainBlue);
  margin: 0 0 20px 0;
}

.footer-logo-decoration {
  color: var(--mainWhite);
}

.footer-info-item {
  margin: 0 0 9px 0;
}

.adress-block {
  font-style: normal;
}

.footer-adress-link {
  text-decoration: none;
  line-height: 24px;
  color: var(--mainWhite);
}

.footer-info .link {
  line-height: 1.7;
  color: rgb(255, 255, 255, 0.6);
}

/* Main section portfolio */
.portfolio-tab-list {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}

.portfolio-tab-item:not(:last-child) {
  margin-right: 8px;
}

.btn-tab {
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;

  cursor: pointer;
  font-family: var(--mainFont);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--mainBlack);
  background-color: var(--secondBg);
}

.btn-tab:hover,
.btn-tab:focus {
  color: var(--mainWhite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--mainBlue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  border: 1px solid var(--mainBorder);
  box-sizing: border-box;
  padding: 0 0 20px 0;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

/* .portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
} */

.pirtfilio-img {
  display: block;
  margin: 0 0 20px 0;
}

.portfolio-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--mainBlack);
  margin: 0 0 4px 0;
  padding: 0 0 0 24px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
  padding: 0 0 0 24px;
}
